[submodule "libs/vst3sdk"]
	path = libs/vst3sdk
	url = https://github.com/steinbergmedia/vst3sdk
[submodule "libs/pugl"]
	path = libs/pugl
	url = https://github.com/lv2/pugl
[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui
[submodule "libs/implot"]
	path = libs/implot
	url = https://github.com/epezent/implot
	branch = main
[submodule "libs/lockfree-async"]
	path = libs/lockfree-async
	url = https://github.com/unevens/lockfree-async
[submodule "libs/oversimple"]
	path = libs/oversimple
	url = https://github.com/unevens/oversimple
